*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width : 100% ;
    min-height: 100vh;
    background: linear-gradient(125deg ,rgb(15, 3, 96) , rgb(111, 2, 107));
    padding: 10px;
}
.Todo_app{
    /* width: 100%; */
    max-width: 540px;
    margin: 100px auto  20px;
    padding: 40px 30px 70px;
    background-color: rgb(247, 245, 243);
    border-radius: 10px;
}
.Todo_app h2{
    color: rgba(7, 0, 0, 0.741);
    display: flex;
    margin-bottom: 20px ;
    align-items: center;
    
}
.Todo_app h2 img{
    width: 30px;
    margin-left: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(169, 169, 169, 0.449);
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
input{
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 15px;
}
button{
    outline: none;
    border: none;
    
    background-color: rgb(255, 42, 42); 
    color: rgb(255, 255, 255); 
    padding: 20px 40px;
    
    border-radius: 10px 100px / 120px;
    font-size: 16px;
}
ul li{
    list-style: none;
    position: relative;
    font-size: 20px;
    padding: 12px 6px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    
    background-image: url(images/heart\ \(1\).png);
    background-size: cover;
    background-position: center;
    left: 1px;


}
ul li.checked{
    color: darkgrey;
    text-decoration: line-through
}
ul li.checked::before{
    background-image: url(images/heart\.png);
}
ul li span{
    font-size: 25px;
    position: absolute;
    width: 45px;
    height: 40px;
    right: 0;
    top: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}
ul li span:hover{
    background:gray ;
    
}